<footer class="p-4 pt-8 pb-24 sm:pb-8 bg-gray-200 shadow-inner">
  <div class="max-w-screen-lg mx-auto">
    <div class="grid sm:grid-cols-3 gap-8">
      <div class="col-span-2 w-full">
        <span class="flex items-center font-bold text-xl">
          <img class="block h-8 w-auto" src="../../../assets/book.svg" alt="" />
          <span class="text-blue-800 ml-4">Bücherverwaltung</span>
        </span>
      </div>

      <ul class="sm:text-right">
        <li>
          <a routerLink="">Home</a>
        </li>

        <li>
          <a routerLink="terms-of-use">Nutzungsbedingungen</a>
        </li>

        <li>
          <a routerLink="privacy">Datenschutz</a>
        </li>

        <li>
          <a routerLink="imprint">Impressum</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
